<div id='profile-header'>
	<a class='logo-link header' href="/">_WEATHER_HUB_</a>
	<h2 class="welcome-greeting header">Hello <%= user.name %></h2>
</div>
<div id="services-menu">	
		<div class="svg-wrapper">
	      <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
	        <rect id="shape" height="40" width="150" />
	        <div id="text">
	          <a href="/profile"><span class="spot"></span>Home</a>
	        </div>
	      </svg>
	    </div>
	    <!--Next button -->

	    <div class="svg-wrapper">
	      <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
	        <rect id="shape" height="40" width="150" />
	        <div id="text">
	          <a href="/profile/search-weather"><span class="spot"></span>Search Weather</a>
	        </div>
	      </svg>
	    </div>
	    
	    <!--Next button -->
	    <div class="svg-wrapper">
	      <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
	        <rect id="shape" height="40" width="150" />
	        <div id="text">
	          <a href="/profile/settings"><span class="spot"></span>Settings</a>
	        </div>
	      </svg>
	    </div>
</div>

