<div id='profile-header'>
	<a id='logo-link' href="/">H U B</a>
	<h2 id="welcome-greeting">Hello <%= user.name %></h2>
</div>
<div id="services-menu">
		<div class="svg-wrapper">
	      <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
	        <rect id="shape" height="40" width="150" />
	        <div id="text">
	          <a href="/profile"><span class="spot"></span>Dashboard</a>
	        </div>
	      </svg>
	    </div>
	    <!--Next button -->

	    <div class="svg-wrapper">
	      <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
	        <rect id="shape" height="40" width="150" />
	        <div id="text">
	          <a href="/profile/facebook"><span class="spot"></span>Facebook</a>
	        </div>
	      </svg>
	    </div>
	    
	    <!--Next button -->
	    <div class="svg-wrapper">
	      <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
	        <rect id="shape" height="40" width="150" />
	        <div id="text">
	          <a href="/profile/twitter"><span class="spot"></span>Twitter</a>
	        </div>
	      </svg>
	    </div>
</div>

