<%- include partials/profile %>

<h3>Customize your HUB Account</h3>
<h5>Change Background Color</h5>
<a href="">Red</a>
<a href="">Yellow</a>
<a href="">Green</a>
<hr>
<h5>Change Navigation Bar Color</h5>