<%- include partials/profile %>

<h3>Customize your HUB Account</h3>
<h5>Change Navigation Bar Color</h5>

	<form method='POST' action='/profile/nav-color'>
		<input type='radio' id='nav-peach' name='navColor' value='#ffa577'>
		<label for='nav-peach'>Peach</label>
		<input type='radio' id='nav-grey' name='navColor' value='#c4c4c4'>
		<label for='nav-grey'>Grey</label>
		<input type='radio' id='nav-purple' name='navColor' value='#663399'>
		<label for='nav-purple'>Purple</label>
		<input type='radio' id='nav-green' name='navColor' value='#72C29B'>
		<label for='nav-green'>Green</label> <br>
		<button type='Submit'>Save</button>
	</form>
	<hr>

	<!-- WORK ON THIS, NEED TO RESET PREFERENCES COMPLETELY, USE SOME AJAX THING -->
	<div id='customize-reset'>
		<h5>Reset All Preferences</h5>
		<button id='reset' type='button'>Reset</button>
	</div>

<hr>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script>

	if('<%=preference.dataValues.navColor%>') {
		var navColor = '<%=preference.dataValues.navColor %>'
		document.getElementById('services-menu').style.backgroundColor = navColor
	 } 
	// FOR THE AJAX CALL TO DELETE
	$('#reset').on('click', function(e) {
		e.preventDefault();
		$.ajax({
		    url: '/profile/navcolor',
		    type: 'DELETE',
		});
 		window.location = '/profile'
 	})
 

</script>