<%- include partials/profile %>

<h3>Facebook Feed</h3>

	<div id='login-buttons'>
		<fb:login-button
		  id='fb-login' 
		  scope="public_profile,email,user_birthday,user_location,publish_actions"
		  onlogin="checkLoginState();">
		</fb:login-button>
	</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1480103738725569',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.10'
    });
    FB.AppEvents.logPageView();

	FB.getLoginStatus(function(response) {
	    statusChangeCallback(response);
	});   
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

  function statusChangeCallback(response) {
  	if(response.status === 'connected') {
  		console.log("Facebook has connected and authenticated!")
  		grabAPI();
  	} else {
  		console.log("Facebook has not connected: ", response.status);
  	}
  }


function checkLoginState() {
  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });
}

function grabAPI() {
	FB.api('me?fields=name,id,birthday,location,email', function(response) {
		if(response && !response.error) {
			//console.log(response);
			//renderProfile(response);
		} else {
			console.log(response.error)
		}
	})
}

// function renderProfile(user) {
// 	$('#welcome-greeting').text('Welcome, ' + user.name +'!');
// 	let profile = `

// 	`;
// }

function logout() {
	FB.api.logout;
}

//FOR CUSTOMIZATION

  var navBar = $('#services-menu');

  var navColor = '<%=preference.dataValues.navColor%>'; 
  if (navColor) {
    $(navBar).css('backgroundColor', navColor);
  } else {
    //Do Nothing
  }

</script>



