<link rel="stylesheet"  href="css/index.css">

<video id='v' onloadeddata="this.play()" poster='/video/Up.jpg' playsinline loop muted>
	<source src='/video/Up.mp4' type='video/mp4'/>
	<source src='/video/Up.webm' type='video/webm'/>
</video>
<div id='overlay'>
	<div id='login' class='login'>
		<h4>Connect Dashboard Login</h4>
		<form action="/auth/login" method="POST">
			<div class="form-group">
				<label for="authEmail">Email</label>
				<input id="authEmail" class="form-control" type="email" name="email">
			</div>
		
			<div class="form-group">
				<label for="authPassword">Password</label>
				<input id="authPassword" class="form-control" type="password" name="password">
			</div>
		
			<input class="btn btn-primary" type="submit" value='Log in'>
		</form>
	</div>
</div>

<!-- <div class='container-fluid' id='main-header'>
	<h2 class='header' id='header-logo'>Connect</h2>
	<form class='header' id='login'>
		<input type='text' placeholder='Email'>
		<input type='text' placeholder='Password'>
	</form>
</div> -->
<!-- <div id="home-nav-bar" class="nav-bar">
	<a href="/auth/signup">Signup</a>
	<a href="/auth/login">Login</a>
	<a href="/auth/logout">Logout</a>
	<a href="/profile">Profile</a>
</div> -->


<!-- <div class='container'>
<h4>Welcome to Connect. A basic weather tracking site.</h4>
<p>Using Connect, you you be to able access to an extremely fast, straight-forward,
	slightly formatted data that will instantly answer your questions about weather in the United States.</p>

 <p>See our <a href='/main/blog'>blog</a> for future updates of the site!</p>
 <strong>Notice: This website is still under development and considered a beta version and will not be responsive
	 smaller screens.
 </strong>
</div> -->
<header>
	<div class="container">
		<a href="#home" class="logo">Connect</a>
		<nav class="nav-collapse">
		  <ul>
			<li class="menu-item active"><a href="#home">Home</a></li>
			<li class="menu-item"><a href="#about">About</a></li>
			<li class="menu-item"><a href="#projects">Projects</a></li>
			<li class="menu-item"><a href="#blog">Blog</a></li>
		  </ul>
		</nav>
		</div>
	</header>


 <script>
	var nav = responsiveNav(".nav-collapse");

	var overlay= document.getElementById('overlay');
  var video= document.getElementById('v');
  video.addEventListener('progress', function() {
    var show= video.currentTime>=5 && video.currentTime<10;
    overlay.style.visibility= show? 'visible' : 'visible';
  }, false);
 </script>