<link rel="stylesheet"  href="css/index.css">

<h2>Connect</h2>
<div id="home-nav-bar" class="nav-bar">
	<a href="/auth/signup">Signup</a>
	<a href="/auth/login">Login</a>
	<a href="/auth/logout">Logout</a>
	<a href="/profile">Profile</a>
</div>

<h4>Welcome to Connect. A basic weather tracking site.</h4>
<p>Using Connect, you you be to able access to an extremely fast, straight-forward,
	slightly formatted data that will instantly answer your questions about weather in the United States.</p>

 <p>See our <a href='/main/blog'>blog</a> for future updates of the site!
