<link rel="stylesheet"  href="css/index.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<video onloadeddata="this.play()" width='100%' poster='/video/Up.jpg' playsinline loop muted>
	<source src='/video/Up.mp4' type='video/mp4'/>
	<source src='/video/Up.webm' type='video/webm'/>
</video>

<h2>Connect</h2>
<div id="home-nav-bar" class="nav-bar">
	<a href="/auth/signup">Signup</a>
	<a href="/auth/login">Login</a>
	<a href="/auth/logout">Logout</a>
	<a href="/profile">Profile</a>
</div>

<div id='img-container'>
<h4>Welcome to Connect. A basic weather tracking site.</h4>
<p>Using Connect, you you be to able access to an extremely fast, straight-forward,
	slightly formatted data that will instantly answer your questions about weather in the United States.</p>

 <p>See our <a href='/main/blog'>blog</a> for future updates of the site!</p>
</div>


 <script>
	
 </script>