<div id='profile-header'>
	<a class='logo-link header' href="/">_WEATHER_HUB_</a>
</div>
<div class='start container'>
	<h3>Welcome to Connect <%=user.name %>!</h3>

	<p>Looks like it's your first time here! Connect is a new and improving site that will grow to fit your weather tracking needs! To get started, just enter your home location below and click "Find Home". Once you do that, the Home page will appear and show the weather for that location.</p>



	<form id='weather-search' method='POST' action='/profile'>
		<input type='text' name='city' placeholder="City">
		<input type='text' name='state' placeholder='ST'>
		<button type='submit' id='search' type='button'>Find Home</button>
	</form>
</div>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
