<%- include partials/profile %>
<div id='twitter-page' class='background-customize'>
	<div id='twitter-home-feed'>
	<h3>Twitter Home Feed</h3>
	<% tweets.forEach (function(tweets) { %>
			<li class=no-bullet>
				<div class='tweet-container'> 
					<%= tweets.text %> - <strong> <%= tweets.user.name %> (@<%= tweets.user.screen_name %>)</strong>
				</div>
			</li>

	<% }) %>
	</div>
</div>

