<h1> Connect Update</h1>
<b>April 23, 2018</b>
<hr>
<h2>From basic weather updates to intuitive climate tracking, Connect has plans to give you an even greater look on understanding Earth's climate.</h2><br>

<p>Hi, I'm the developer.</p>
<p>Originally, this site was for a project in my General Assembly Seattle WDI-15 class, intended (as the deadline approached) to accomplish the bare minimum requirements to make a functional MVC application. However, in an effort to improve both my own quality of work and and a better portfolio to show to employers and recruitors, I've decided to maximize the potential of this site to include other services that as of right now have not been concretely planned. Despite this, I still have decided that I want to utilize weather data differently than what I've seen before, and I'd like to use this site to try it out! Including:</p>
<ul>
	<li>Map integration</li>
	<li>UI redesign</li>
	<li>Additional informational services</li>
	<li>Bug fixes</li>
</ul>

<p>As a result, this massive workload should not only help improve my own programming skills, but in a unique way. In fact, I may convert this site into WEX with all sorts of tracking information available online here. Hopefully resulting in an elaborate concotion of code.</p>
